*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #25AB00;
    cursor: pointer;
}

.leftside-header{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
}

.leftside-header img{
    cursor: pointer;
}

.leftside-header div{
    margin: 25px;
    cursor: pointer;
}

.leftside-header p{
    margin-left: 10px;
}

button{
    font-size: 24px;
    padding: 5px 20px;
    border-radius: 28px;
    font-weight: 600;
    border: none;
    background-color: #25AB00;
    color: #fff;
    height: 55px;
    width: 250px;
    cursor: pointer;
}

.profile-thumbnail{
    background-color: #ebebeb;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.rightside-header{
    display: flex;
    align-items: center;
    font-size: 28px;
}

.rightside-header div{
    margin: 25px;
}

.rightside-header input{
    background: url(/icons/searchicon.png) no-repeat scroll 210px padding-box  ;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    border: 3px solid;
    width: 250px;
    font-size: 28px;
}

.noti-icon{
    width: 40px;
    position: relative;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 400px;
    background-color: #fff;
    box-shadow: inset 0 -6px 9px rgb(198, 197, 197);
    margin-bottom: 7px;
}



.logo-cont{
    display: flex;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    
}


.logo-cont img{
    width: 100px;
    margin-right: 20px;
}

.appwitme-text{
    font-size: 30px;
    margin-top: 45px;
    line-height: 45px;
    margin-bottom: 32px;
}

.lower-section i{
    margin-right: 15px;
}

i img{
    width: 50px;
}

.lower-section{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 150px;
    align-items: flex-start;
    background-color: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lower-section label{
    font-weight: 700;
}

.lower-section ul {
    list-style: none;
    font-size: 26px;
    margin-left: 20px;
    line-height: 60px;
    
}

.lower-section ul li{
    cursor: pointer;
}

i{
    cursor: pointer;
}

footer{
    display: flex;
    color: #fff;
    font-size: 30px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    padding-left: 500px;
    padding-right: 205px;
}

main{
    padding-bottom: 200px;
    margin-left: 400px;
    padding-top: 60px;
    
}

.title-container{
    display: flex;
    align-items: center;
}

.title-container p{
    font-size: 24px;
}

.thumbnail-container{
    width: 120px;
    border-radius: 50%;
    margin-right: 10px;
}

.thumbnail-container img{
    width: 100%;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.sub-sec-container{
    font-size: 32px;
}

.sub-sec-container div{
    margin-bottom: 30px;
}


.select-input-area{
    display: flex;
    margin-top: 50px;
}

.input-area{
    margin-left: 100px;
    font-size: 24px;
    padding-top: 40px;
}

input{
    width: 1024px;
    height: 70px;
    background-color: #ebebeb;
    margin-bottom: 25px;
    border-style: none;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 24px;
}


.input-area p{
    margin-bottom: 4px;
    font-weight: 500;
    
}

.input-area button{
    border-radius: 8px;
    margin-top: 20px;
}

.sub-sec-container :nth-child(3){
 font-weight: 700;
}


